* { 
	margin:0;
	padding: 0;
}

body {
	font-family: "Open Sans", Arial;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

div {
	background-color: #fff;
}

.homework3 {
	background-color:#fff;
  	width:1068px;
  	height:950px;
  	padding:50px 0px 30px 50px;
  	margin: 0px auto;
  	box-shadow: 0 0 3px 0 rgba(200,200,200,0.5);
  	-webkit-box-shadow: 0 0 3px 0 rgba(200,200,200,0.5);
  	-o-webkit-box-shadow: 0 0 3px 0 rgba(200,200,200,0.5);
  	-moz--webkit-box-shadow: 0 0 3px 0 rgba(200,200,200,0.5);
}
	
a {
	text-decoration: none; 
}

ul {
	list-style: none;
}

li {
	line-height: normal;
	letter-spacing: normal;
}

/*Logo*/

.logo {
	height:40px;
  	padding-bottom: 40px;
}

/*Header*/

.header {
	background-image: linear-gradient(#4a4949,#6e6e6e);
  	font-size:16px;
  	width:1000px;
  	height: 40px;
  	position:relative;
  	overflow: hidden;
 }

.header li {
	display:inline-block;
	float: left;
	list-style: none;
	text-align:center;
  	width:140px;
}

.header a {
	display: block;
  	color:#fff;
  	padding:0px 40px;
  	margin-left: -1px;
  	font-size:15px;
  	line-height:40px;
  	text-shadow:0.5px 0.866px 1px rgba(0,0,0,0.5);
}

.header a:hover {
	background-color: #333;
	border-right:1px solid #888;
	border-left:1px solid #888;
}

/*Sidebar*/

.sidebar {
	width:25%;
  	float:left;
  	margin-top:40px;
  	font-size:15px;
}

.sidebar a:hover {
  	text-indent: 25px;
  	background-color: #f9f9f9;
}

.sidebar a {
	display:block;
	color:#333333;
	padding:8px 15px;
	margin-bottom:-2px;
	border: 1px solid #c8c8c8;
}

/*Content*/

.content {
	float: right;
	width:65%;
	margin: 40px 50px 40px 40px;
}

.img {
	border: 1px solid #c8c8c8;
    text-align: center;
    width:677px;
    height:400px;
    padding-top:50px;
}

.text {
	font-size: 16px;
    text-align: left;
    padding:20px;
}

/*Footer*/

.footer {
	clear: both;
	height: 40px;
    width: 1000px;
    background-color: #e1e1e1;
    text-align: center;
    font-size: 16px;
}

.footer li {
	display: inline;
}

.footer a {
	display: block;
  	float: left;
  	padding:10px 40px;
  	color:#000;
}

.footer a:hover {
	text-decoration: underline;
}

.footer li:last-child {
	text-align: right;
	display: inline-block;
	float: right;
	padding:10px 1px;
}
